{% capture category %}{% if post %}{{ post.categories | category_links | size }}{% else %}{{ page.categories | category_links | size }}{% endif %}{% endcapture %}
{% unless category == '0' %}
<ul>
  {% if post %}
    {% for item in post.categories %}
      <li><a href="{{ root_url }}/blog/categories/{{ item }}/">{{ item }}</a></li>
    {% endfor %}
  {% else %}
    {% for item in page.categories %}
      <li><a href="{{ root_url }}/blog/categories/{{ item }}/">{{ item }}</a></li>
    {% endfor %}
  {% endif %}
</ul>
{% endunless %}
