{% capture category %}{% if post %}{{ post.categories | category_links | size }}{% else %}{{ page.categories | category_links | size }}{% endif %}{% endcapture %}
{% unless category == '0' %}
<ul ng-controller="CategoryCtrl">
  <li ng-repeat="category in categories">
    <a href="{{ root_url }}/blog/categories/{% raw %}{{ category | lowercase }}{% endraw %}/">
      {% raw %}{{ category }}{% endraw %}
    </a>
  </li>
</ul>
<script>
function CategoryCtrl($scope) {
  $scope.categories = [];
  {% if post %}
    {% for item in post.categories %}
      $scope.categories.push("{{ item }}");
    {% endfor %}
  {% else %}
    {% for item in page.categories %}
      $scope.categories.push("{{ item }}");
    {% endfor %}
  {% endif %}
}
</script>
{% endunless %}
