// Fonts
$global-font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Meiryo, 'メイリオ', 'ＭＳ Ｐゴシック', Verdana, Geneva, Arial, Helvetica;
$emphasis-font-family: 'ヒラギノ角ゴ Pro W6', 'Hiragino Kaku Gothic Pro W6', Meiryo, メイリオ, 'ＭＳ Ｐゴシック', Verdana, Geneva, Arial, Helvetica;
$time-font-family: Georgia, Constantia, Hoefler Text, serif;
$copyright-font-family:  Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', serif;
$default-font-size: 12pt;

// Colors
$base-background-color: #343434;
$base-text-color: #bebebe;
$primary-color: #00b454;
$primary-dark-color: #228751;
$secondary-color-A: #086ca2;
$secondary-dark-color-A: #235b79;
$secondary-color-B: #78e700;
$secondary-dark-color-B:#6fad2b;
$complementary-color: #ff3900;
$complementary-dark-color: #bf5030;

$time-color: #8a8a8a;

$separator-upper-color: #444444;
$separator-lower-color: #202020;
