$base03:          #002b36; //darkest blue
$base02:          #073642; //dark blue
$base01:          #586e75; //darkest gray
$base00:          #657b83; //dark gray
$base0:           #839496; //medium gray
$base1:           #93a1a1; //medium light gray
$base2:           #eee8d5; //cream
$base3:           #fdf6e3; //white
$solar-yellow:    #b58900;
$solar-orange:    #cb4b16;
$solar-red:       #dc322f;
$solar-magenta:   #d33682;
$solar-violet:    #6c71c4;
$solar-blue:      #268bd2;
$solar-cyan:      #2aa198;
$solar-green:     #859900;

$solarized: dark;

@if $solarized == light {
  $_base03: $base03;
  $_base02: $base02;
  $_base01: $base01;
  $_base00: $base00;
  $_base0:  $base0;
  $_base1:  $base1;
  $_base2:  $base2;
  $_base3:  $base3;

  $base03:  $_base3;
  $base02:  $_base2;
  $base01:  $_base1;
  $base00:  $_base0;
  $base0:   $_base00;
  $base1:   $_base01;
  $base2:   $_base02;
  $base3:   $_base03;
}

/* non highlighted code colors */
$pre-bg: $pre-background-color;
$pre-border: $pre-border-color;
$pre-color: $base-text-color;

