/* Core theme application */

body {
  margin: 0;
  padding: 0;
  color: $base-text-color;
  background-color: $base-background-color;
  font-size: $default-font-size;
//  > div {
//    background: $sidebar-bg $noise-bg;
//    border-bottom: 1px solid $page-border-bottom;
//    > div {
//      background: $main-bg $noise-bg;
//      border-right: 1px solid $sidebar-border;
//    }
//  }
}
