body {
  color: $base-text-color;
  font-size: $default-font-size;
  font-family: $global-font-family;
  h1, h2, h3, h4, h5 {
    font-family: $emphasis-font-family;
    font-weight: bold;
    color: $primary-color;
    a {
      color: $primary-color;
      &:hover {
        color: $primary-dark-color;
      }
    }
  }

  time {
    color: $time-color;
    font-family: $time-font-family;
  }
}

article {
  h1 , h2 , h3 , h4 , h5 {
    font-size: 1.5em;
  }

  >  h1 {
    color: $secondary-color-B;
    font-size: 2em;
    &:first-letter {
      font-size: 1.5em;
    }
    a {
      color: $secondary-color-B;
      text-decoration: none;
      &:hover {
        color: $secondary-dark-color-B;
      }
    }
  }

  aside {
    li {
      color: $secondary-color-A;
      font-weight: bold;
      a {
        color: $secondary-color-A;  
        text-decoration: none;
        &:hover {
          color: $secondary-dark-color-A;
        }
      }
    }  
  }
}


aside.pagenation {
  p {
    color: $complementary-color;
    a {
      color: $complementary-color;
      text-decoration: none;
      &:hover {
        color: $complementary-dark-color;
      }
    }
  }
}

nav {
  >ul {
    >li {
      color: $primary-color;
      font-size: 1.2em;
      font-weight: bold;
      a {
        color: $primary-color;
        text-decoration: none;
        &:hover {
          color: $primary-dark-color;
        }
      }
    }
  }
}

