div.archives {
  > input {
    display: block;
    margin: 0 auto;
    padding: 0.2em;
    width: 20em;
    height: 2.5em;
    color: $base-text-color;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid $pre-border-color;
    background-color: $pre-background-color;
    &::-webkit-input-placeholder {
      color: $secondary-dark-color-A;
    }
    &:-moz-placeholder {
      color: $secondary-dark-color-A;
    } 
    &:placeholder {
      color: $secondary-dark-color-A;
    }
  }
  section {
    margin: 10px 0;
    margin-bottom: 20px;
    h3 {
      &:first-letter {
        font-size: 1.2em;
      }
      > a {
        color: $primary-color;
        &:hover {
          color: $primary-dark-color;
        }
      }
    }
    ul {
      margin-top: 5px;
      list-style: none;
      li {
        margin: 5px;
        display: inline-block;
      }
    }
  } 
}
